.emoji-nav {
  width: 100%;
  height: 40px;
  border-radius: .5em .5em 0px 0px;
  display: flex;
  border-bottom: 2px solid grey;
  background-color: #0f1011;

  .emoji-nav-option {
    border-radius: .5em;
    width: 25%;
    text-align: center;
    ;

    .fa {
      color: grey;
      font-size: 1.5em;
      z-index: 3;
    }
  }
}

.emoji-container {
  overflow-y: auto;
  height: 180px;
  background-color: #31353a;
  .emoji {
    width: 20%;
    height: 20%;
    display: inline-block;

    p {
      width: 100%;
      text-align: center;

      span {
        cursor: pointer;
      }
    }
  }
}
