#send {
  height: 100%;
  margin-top: 5px;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 5px 0;
  border-right: none;
}

li {
  margin: 5px 0;
}

.wrapper {
  height: 100%;
  padding: 0 .6em;
}

#chatControls {
  position: fixed;
  bottom: 0;
  height: 8%;
  min-height: 60px;
  padding: .6em;
  background-clip: grey;
  display: flex;
  width: 100%;
  margin: 0 0 5px 0;

  .fa-paperclip {
    cursor: pointer;
  }
}

.users {
  position: fixed;
  display: flex;
  top: 0;
  height: 6%;
  width: 100%;
  font-weight: 600;
  min-height: 40px;

  .chatroom-menu {
    text-align: right;
    color: grey;
    cursor: pointer;
    font-size: 1.05em;
    max-width: 30px;
    margin-right: 30px;
  }

  .fa-circle {
    color: rgb(65, 245, 65);
  }

  p {
    margin-top: 4px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    .username:not(:last-child):after {
      content: ", ";
    }
  }
}

.clip {
  margin-top: 5px;
  height: 100%;
  background: inherit;
  border-left: none;
  font-size: 1.5em;
}

#chat {
  position: fixed;
  width: 99%;
  margin-top: 30px;
  height: 86%;
  padding-right: 1em;
  overflow-y: auto;
  overflow-x: hidden;
}

#chat p {
  margin: 5px 0;
  font-weight: 300
}

#chat .timestamp {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
}

.sender-article {
  background: #f1f1f1;
  padding: 10px;
  margin: 10px 0;
  border-left: 5px solid #aaa;
  position: relative;
  word-wrap: break-word;
  animation: enter .2s 1;
}

.user-article {
  background: #c9edc3;
  padding: 10px;
  margin: 10px 0;
  border-left: 5px solid #74a377;
  position: relative;
  word-wrap: break-word;
  animation: enter .2s 1;
}

.user-img {
  border-left: 5px solid #74a377;
}

.sender-img {
  border-left: 5px solid #aaa;
}

.smily {
  cursor: pointer;

  &:hover .emojis-menu {
    display: block;
  }
}

.input-group {
  opacity: 1;
}

.clip {
  background-color: white;
}

.emojis-menu {
  position: fixed;
  cursor: context-menu;
  display: none;
  bottom: 52px;
  border-radius: .5em;
  height: 220px;
  width: 240px;
  z-index: 2;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(153, 145, 153, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(153, 145, 153, 1);
  box-shadow: 0px 0px 5px 0px rgba(153, 145, 153, 1);
}

.server-message {
  width: 100%;
  border-radius: .3em;
  margin: .5em 0em;
  background-color: rgb(182, 255, 182);
  text-align: center;
  animation: enter .2s 1;
}

.img-fluid {
  max-width: 25em;
  margin: .4em 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(145, 138, 145, 1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(145, 138, 145, 1);
  box-shadow: 0px 0px 7px 0px rgba(145, 138, 145, 1);
  animation: enter .2s 1;
}

video {
  width: 100%;
  max-width: 400px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(145, 138, 145, 1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(145, 138, 145, 1);
  box-shadow: 0px 0px 7px 0px rgba(145, 138, 145, 1);
  animation: enter .2s 1;
}

.other {
  margin: 10px 0;

  .other_file {
    width: 100%;
    max-width: 400px;
    height: 400px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 3px;
    margin: 10px 0;
    margin-left: 2px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(145, 138, 145, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(145, 138, 145, 1);
    box-shadow: 0px 0px 7px 0px rgba(145, 138, 145, 1);
    animation: enter .2s 1;

    .fa-arrow-circle-down {
      color: grey;
      cursor: pointer;
      font-size: 6em;
    }
  }
}

@keyframes enter {
  from {
    transform: none;
  }

  50% {
    transform: scale(1.05);
  }

  to {
    transform: none;
  }
}
