<div class="wrapper">
  <div class="users" *ngIf="userList.length > 0">
    <p>
       &nbsp;<i class="fa fa-circle"></i> &nbsp;
      <span class="username" *ngFor="let u of userList"> {{u}}</span>
    </p>
  </div>
  <div id="chat">
    <div id="msgs">
      <div *ngFor="let m of messages">
        <div *ngIf=" m.sender === 'Server';else other_content">
          <div class="server-message">
            <p>{{m.message}}</p>
            <p style="margin-top: -5px">{{toDate(m.timestamp)}}</p>
          </div>
        </div>
        <ng-template #other_content>

          <article [ngClass]="{'user-article':m.sender === username, 'sender-article':m.sender !== username}" *ngIf=" m.type === 'text';else other_content2">
            <b>{{m.sender}}</b>
            <span class="timestamp">{{toDate(m.timestamp)}}</span>
            <p [innerHTML]="m.message | sanitize"></p>
          </article>
          <ng-template #other_content2>
            <div>
              <p style="margin-bottom: 0; font-weight: 600">
                {{m.sender}} <span style="font-size: .9em;">&nbsp; {{toDate(m.timestamp)}}</span>
              </p>
              <img class="img-fluid" [ngClass]="{'user-img':m.sender === username, 'sender-img':m.sender !== username}" [src]="'data:image/png;base64,'+m.message | safeurl" (load)="imageLoad()">
            </div>
          </ng-template>
        </ng-template>
      </div>
      <div id="scroll"></div>
    </div>
  </div>
</div>
<input type="file" id="file" accept="image/*" [style.display]="'none'">
<div id="chatControls">
  <div class="input-group">
    <div class="input-group-prepend clip smily">
      <div class="emojis-menu">
        <div class="emoji" *ngFor="let e of emojis">
          <p><span [innerHTML]="e" (click)="addEmoji(e)"></span></p>
        </div>
      </div>
      <span class="input-group-text " [innerHTML]="smily"></span>
    </div>
    <input type="text" class="form-control" accept-charset="utf-8" [(ngModel)]="msg" (keydown.enter)="send()"
      placeholder="Type your message" autocomplete="off">
    <div class="input-group-prepend">
      <div class="input-group-text clip">
        <i class="fa fa-paperclip" (click)="fileClick()"></i>
      </div>
    </div>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="send" (click)="send()">send</button>
    </div>
  </div>
</div>
