<div class="wrapper">
  <div class="users">
    <p *ngIf="isonline">
      <span *ngIf="userList.length > 0">
        &nbsp;<i class="fa fa-circle"></i>&nbsp;
        <span class="username" *ngFor="let u of userList">{{u}}</span>
      </span>
    </p>
    <p *ngIf="!isonline">
      &nbsp;<i class="fa fa-circle" style="color:red"></i>&nbsp;
      <span class="username">offline</span>
    </p>
    <p class="chatroom-menu"><i class="fa fa-ellipsis-v"></i></p>
  </div>
  <div id="chat">
    <div id="msgs">
      <div *ngFor="let m of messages">
        <div *ngIf=" m.sender === 'Server';else other_content">
          <div class="server-message">
            <p><b>{{m.message}}</b></p>
            <p style="margin-top: -5px; font-size: .86em"><b>{{toDate(m.timestamp)}}</b></p>
          </div>
        </div>
        <ng-template #other_content>
          <article [ngClass]="{'user-article':m.sender === username, 'sender-article':m.sender !== username}" *ngIf="m.type === 'text'">
            <b>{{m.sender}}</b>
            <span class="timestamp">{{toDate(m.timestamp)}}</span>
            <p [innerHTML]="m.message | sanitize"></p>
          </article>

          <div *ngIf="m.type.indexOf('image') > -1">
            <p style="margin-bottom: 0; font-weight: 600">
              {{m.sender}} <span style="font-size: .9em;">&nbsp; {{toDate(m.timestamp)}}</span>
            </p>
            <img class="img-fluid" [ngClass]="{'user-img':m.sender === username, 'sender-img':m.sender !== username}"
              [src]="'data:image/jpeg;base64,' + m.message | safeurl" (load)="mediaLoad()">
          </div>

          <div *ngIf="m.type.indexOf('video') > -1">
            <p style="margin-bottom: 0; font-weight: 600">
              {{m.sender}} <span style="font-size: .9em;">&nbsp; {{toDate(m.timestamp)}}</span>
            </p>
            <video controls>
              <source [src]="'data:'+m.type+';base64,' + m.message | safeurl" [type]="m.type" (load)="mediaLoad()">
            </video>
          </div>
          <div *ngIf="m.type.indexOf('video') <= -1 && m.type.indexOf('image') <= -1 && m.type !== 'text'" class="other">
            <p style="margin-bottom: 0; font-weight: 600">
              {{m.sender}} <span style="font-size: .9em;">&nbsp; {{toDate(m.timestamp)}}</span>
            </p>
            <div class="other_file">
              <br>
              <b>Content type</b>
              <p style="font-size: 600"><b>{{m.type}}</b></p>
              <br>
              <p>Download</p><br>
              <a [href]="'data:application/octet-stream,'+m.message">
                <p><i class="fa fa-arrow-circle-down"></i></p>
              </a>
            </div>
          </div>
        </ng-template>
      </div>
      <div id="scroll"></div>
    </div>
  </div>
</div>
<input type="file" id="file" [disabled]="!isonline" [style.display]="'none'">
<div id="chatControls">
  <div class="input-group">
    <div class="input-group-prepend clip smily">
      <div class="emojis-menu">
        <div class="emoji" *ngFor="let e of emojis">
          <p><span [innerHTML]="e" (click)="addEmoji(e)"></span></p>
        </div>
      </div>
      <span class="input-group-text " [innerHTML]="smily"></span>
    </div>
    <input type="text" class="form-control" accept-charset="utf-8" [(ngModel)]="msg" [disabled]="!isonline"
      (keydown.enter)="send()" placeholder="Type your message" autocomplete="off">
    <div class="input-group-prepend">
      <div class="input-group-text clip" *ngIf="!loading">
        <i class="fa fa-paperclip" (click)="fileClick()"></i>
      </div>
      <div class="input-group-text clip" *ngIf="loading">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="send" (click)="send()">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
