#send {
  height: 100%;
  margin-top: 5px;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 5px 0;
  border-right: none;
}

.wrapper {
  height: 100%;
  padding: 0 .6em;
}

#chatControls {
  position: fixed;
  bottom: 0;
  height: 3.5em;
  padding: .6em;
  padding-top: 0.1em;
  border-right: 1px solid #0f1011;
  background-color: #0f1011;
  color: white;
  display: flex;
  width: 100%;

  .fa-paperclip {
    cursor: pointer;
  }

  .fa-send {
    font-size: 2em;
  }

  input {
    background-color: rgb(83, 81, 81);
    color: lightgrey;
    border: none;

    &::placeholder {
      color: lightgrey;
    }
  }

  button {
    background: #0f1011;
    border: none;
    border-radius: 0;

    &:focus,
    &:hover {
      color: rgb(243, 239, 239);
      background: rgb(180, 177, 177);
    }
  }
}

.users {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  z-index: 99;
  border-right: 1px solid #0f1011;
  background-color: #0f1011;
  color: lightgrey;
  height: 2.5em;
  width: 100%;
  font-weight: 600;

  .fa-circle {
    color: rgb(65, 245, 65);
  }

  p {
    height: 100%;
    margin-top: .45em;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    .username:not(:last-child):after {
      content: ", ";
    }
  }

  .fa-ellipsis-v {
    position: fixed;
    right: 1em;
    font-size: 1.5em;
    cursor: pointer;
    top: 8px;
  }
}

.input-group-text {
  border: none;
}

.clip {
  margin-top: 5px;
  height: 100%;
  font-size: 1.5em;
  border-left: none;

  .clip-body {
    background-color: rgb(83, 81, 81);
    font-size: 1em;
    color: lightgrey;
    border-left: none;
  }
}

.chatroom-details {
  position: fixed;
  background-color: #31353a;
  top: 0;
  width: 100%;
  height: 100%;
}

#chat {
  width: 100%;
  padding-top: 3em;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;

  .message-wrapper {
    margin-top: .85em;
  }
}

#chat .timestamp {
  font-weight: 300;
  white-space: nowrap;
  margin-bottom: 4px;
  text-align: right;
  margin-right: 10px;
  line-height: 1em;
  font-size: 12px;
}

.message-body {
  line-height: 1em;
  margin: 2px 9px 3px 10px;
}

.sender-article {
  background: #f1f1f1;
  padding: 10px;
  margin: 10px 0;
  border-left: 5px solid #aaa;
  position: relative;
  word-wrap: break-word;
}

.user-article {
  background: #c9edc3;
  padding: 10px;
  margin: 10px 0;
  border-left: 5px solid #74a377;
  position: relative;
  word-wrap: break-word;
}

.smily {
  cursor: pointer;
  background-color: inherit !important;

  .icon {
    font-size: .8em;
  }

  &:hover .emojis-menu {
    display: block;
  }
}

.emojis-menu {
  position: fixed;
  cursor: context-menu;
  display: none;
  bottom: 2.2em;
  border-radius: .5em;
  height: 220px;
  width: 240px;
  z-index: 2;
  background-color: inherit;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(153, 145, 153, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(153, 145, 153, 1);
  box-shadow: 0px 0px 5px 0px rgba(153, 145, 153, 1);
}

.server-message {
  width: 100%;
  border-radius: .3em;
  margin: .2em 0;
  background-color: #FFF59D;
  text-align: center;

  .server-msg-time {
    font-size: .8em;
    font-weight: 300
  }
}

#msgs {
  width: 100%;
}

.sender-details {
  width: 100%;
  font-weight: 600 !important;
  margin: .1em 0 0 .5em;

  span {
    font-size: .9em;
    text-align: right;
  }
}

.img-fluid {
  width: 100%;
  margin-top: .25em;
  margin-bottom: .4em;
}

video {
  width: 100%;
}

audio {
  width: 100%;
  min-width: 285px;
  margin: .5em 0;
}

.other_file {
  width: 100%;
  text-align: center;
  margin: .2em 0;
  position: relative;

  .download-file {
    margin-top: -5px;
  }

  p {
    font-size: 12px;
  }

  .media-timestamp {
    margin-top: 0px;
    margin-right: -2px;
  }

  .fa-download {
    color: rgb(19, 11, 11);
    cursor: pointer;
    font-size: 4.5em;
  }
}

.speech-bubble-yours {
  position: relative;
  background: rgb(241, 239, 239);
  margin: .2em 0;
  border-radius: 0 .4em .4em .4em;
  margin-left: 10px;
  min-width: 150px;
  max-width: 400px;
  min-height: 60px;
  word-wrap: break-word;
  animation: enter .2s 1;

  @media only screen and (max-width: 600px) {
    max-width: 80%;
  }

  .pad {
    margin: 7px 0 0 10px;
  }
}

.sender-details {
  width: 100%;
  word-wrap: break-word;
}

.media-timestamp {
  font-weight: 300;
  white-space: nowrap;
  font-size: .8em !important;
}

.speech-bubble-yours:after {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: rgb(241, 239, 239);
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -10px;
}

.speech-bubble-sender {
  position: relative;
  background: #a3eea3;
  margin: .2em 0;
  border-radius: .4em 0 .4em .4em;
  margin-right: 10px;
  right: 0;
  min-width: 150px;
  max-width: 400px;
  min-height: 60px;
  word-wrap: break-word;
  animation: enter .2s 1;

  @media only screen and (max-width: 600px) {
    max-width: 80%;
  }

  .pad {
    margin: 7px 0 0 10px;
  }
}

.speech-bubble-sender:after {
  content: '';
  position: absolute;
  right: 0;
  top: 10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #a3eea3;
  border-right: 0;
  border-top: 0;
  margin-top: -10px;
  margin-right: -10px;
}

.start {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.end {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.media {
  padding: .4em;
}

@keyframes enter {
  from {
    transform: none;
  }

  50% {
    transform: scale(1.05);
  }

  to {
    transform: none;
  }
}
