#send {
  height: 100%;
  margin-top: 5px;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 5px 0;
  border-right: none;
}

li {
  margin: 5px 0;
}

.wrapper {
  height: 100%;
  padding: 0 .6em;
}

#chatControls {
  position: fixed;
  bottom: 0;
  height: 3.5em;
  padding: .6em;
  padding-top: 0.1em;
  border-right: 1px solid rgb(247, 241, 241);
  background-color: rgb(247, 241, 241);
  display: flex;
  width: 100%;

  .fa-paperclip {
    cursor: pointer;
  }

  button {
    background: white;
    border: 1px solid #ced4da;

    &:focus {
      color: rgb(243, 239, 239);
      background: rgb(180, 177, 177);
    }
  }
}

.users {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  z-index: 99;
  border-right: 1px solid rgb(247, 241, 241);
  background-color: rgb(247, 241, 241);
  height: 2.5em;
  width: 100%;
  font-weight: 600;

  .fa-circle {
    color: rgb(65, 245, 65);
  }

  p {
    height: 100%;
    margin-top: .45em;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    .username:not(:last-child):after {
      content: ", ";
    }
  }
}

.clip {
  margin-top: 5px;
  height: 100%;
  background: inherit;
  border-left: none;
  font-size: 1.5em;
}

#chat {
  width: 100%;
  padding-top: 2.3em;
  padding-bottom: 3.5em;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .message-wrapper {
    margin-top: .85em;
  }
}

#chat .timestamp {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
}

.sender-article {
  background: #f1f1f1;
  padding: 10px;
  margin: 10px 0;
  border-left: 5px solid #aaa;
  position: relative;
  word-wrap: break-word;
  animation: enter .2s 1;
}

.user-article {
  background: #c9edc3;
  padding: 10px;
  margin: 10px 0;
  border-left: 5px solid #74a377;
  position: relative;
  word-wrap: break-word;
  animation: enter .2s 1;
}

.user-img {
  border-left: 5px solid #74a377;
}

.sender-img {
  border-left: 5px solid #aaa;
}

.smily {
  cursor: pointer;

  &:hover .emojis-menu {
    display: block;
  }
}

.input-group {
  opacity: 1;
}

.clip {
  background-color: white;
}

.emojis-menu {
  position: fixed;
  cursor: context-menu;
  display: none;
  bottom: 52px;
  border-radius: .5em;
  height: 220px;
  width: 240px;
  z-index: 2;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(153, 145, 153, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(153, 145, 153, 1);
  box-shadow: 0px 0px 5px 0px rgba(153, 145, 153, 1);
}

.server-message {
  width: 100%;
  border-radius: .3em;
  margin: .5em 0em;
  background-color: rgb(182, 255, 182);
  text-align: center;
  animation: enter .2s 1;

  .server-msg-time {
    margin-top: -16px;
    font-size: .86em;
    font-weight: 300
  }
}

.sender-details {
  margin-bottom: 0;
  font-weight: 600 !important;

  span {
    font-size: .9em;
  }
}

.img-fluid {
  max-width: 25em;
  margin: .4em 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(145, 138, 145, 1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(145, 138, 145, 1);
  box-shadow: 0px 0px 7px 0px rgba(145, 138, 145, 1);
  animation: enter .2s 1;
}

video {
  width: 100%;
  max-width: 400px;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(145, 138, 145, 1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(145, 138, 145, 1);
  box-shadow: 0px 0px 7px 0px rgba(145, 138, 145, 1);
  animation: enter .2s 1;
}

.other {
  margin: 10px 0;
}

.other_file {
  width: 100%;
  max-width: 400px;
  height: 400px;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 3px;
  margin: 10px 0;
  margin-left: 2px;
  animation: enter .2s 1;
  position: relative;

  @media only screen and (max-width: 600px) {
    max-width: 250px;
    height: 250px;
  }

  .download-file {
    margin-top: 40px;

    @media only screen and (max-width: 600px) {
      margin-top: -10px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 80px solid white;
    border-left: 80px solid lightgrey;
    width: 0;
    -webkit-box-shadow: -4px 4px 4px 0px rgba(222, 215, 222, 1);
    -moz-box-shadow: -4px 4px 4px 0px rgba(222, 215, 222, 1);
    box-shadow: -4px 4px 4px 0px rgba(222, 215, 222, 1);

    @media only screen and (max-width: 600px) {
      border-top: 50px solid white;
      border-left: 50px solid lightgrey;
    }
  }

  .fa-download {
    color: lightgrey;
    cursor: pointer;
    font-size: 6em;
  }
}

@keyframes enter {
  from {
    transform: none;
  }

  50% {
    transform: scale(1.05);
  }

  to {
    transform: none;
  }
}
