#send {
  height: 100%;
  margin-top: 5px;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 5px 0;
  border-right: none;
}

li {
  margin: 5px 0;
}

.wrapper {
  height: 100%;
  padding: 0 .6em;
}

#chatControls {
  position: fixed;
  bottom: 0;
  height: 8%;
  min-height: 60px;
  padding: .6em;
  background-clip: grey;
  display: flex;
  width: 100%;
  margin: 0 0 5px 0
}

.users {
  position: fixed;
  top: 0;
  height: 6%;
  min-height: 40px;
  .fa-circle {
    color: rgb(65, 245, 65);
  }
  p {
    margin-top: 6px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    .username:not(:last-child):after {
      content: ",";
    }
  }
}

.clip {
  margin-top: 5px;
  height: 100%;
  background: inherit;
  border-left: none;
  font-size: 1.5em;
}

#chat {
  position: fixed;
  width: 100%;
  margin-top: 30px;
  height: 86%;
  padding-right: 1em;
  overflow-y: auto;
  overflow-x: hidden;
}

#chat p {
  margin: 5px 0;
  font-weight: 300
}

#chat .timestamp {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
}

#chat article {
  background: #f1f1f1;
  padding: 10px;
  margin: 10px 0;
  border-left: 5px solid #aaa;
  position: relative;
  word-wrap: break-word;
}

#chat article:last-of-type {
  background: #c9edc3;
  border-left-color: #74a377;
  animation: enter .2s 1;
}

@keyframes enter {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.05);
  }
  to {
    transform: none;
  }
}
